<% provide(:title, "Change #{@user.first_name}'s Password") %>
<h1>Change Password</h1>

<% if policy(@user).edit_password? %>

  <%= simple_form_for(@user, url: update_password_user_path) do |f| %>
    <%= f.input :current_password, :label => 'Current Password' %>
    <%= f.input :password, :label => 'New Password' %>
    <%= f.input :password_confirmation, :label => 'New Password Confirmation' %>
    <%= f.submit 'Update' %>
  <% end %>
<% end %>

<%= link_to 'Cancel', user_path(@user) %>
