<ul class="dropdown menu" data-dropdown-menu>
  <% if @active_draws.any? %>
    <li>
      <a href="#">Draws</a>
      <ul class="menu vertical">
        <% if current_user.draw && policy(current_user.draw).show? %>
          <li><%= link_to 'My Draw', draw_path(current_user.draw) %></li>
        <% end %>
        <% @active_draws.each do |draw| %>
          <% next if current_user.draw == draw %>
          <% if policy(draw).show? %>
            <li><%= link_to "#{draw.name}", draw_path(draw) %></li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if policy(current_user).edit_intent? %>
    <li><%= link_to 'Update Housing Intent', edit_intent_user_path(current_user) %></li>
  <% end %>
  <% if current_user.group %>
    <% if current_user.draw %>
      <li><%= link_to 'My Group', draw_group_path(current_user.draw, current_user.group) %></li>
      <% if policy(RoomAssignment.from_group(current_user.group)).new? %>
        <li><%= link_to 'Assign Rooms', new_group_room_assignment_path(current_user.group) %></li>
      <% end %>
      <% if policy(current_user.group).select_suite? %>
        <li><%= link_to 'Select Suite', new_group_suite_assignment_path(current_user.group) %></li>
      <% end %>
    <% else %>
      <li><%= link_to 'My Group', group_path(current_user.group) %></li>
      <% if policy(RoomAssignment.from_group(current_user.group)).new? %>
        <li><%= link_to 'Assign Rooms', new_group_room_assignment_path(current_user.group) %></li>
      <% end %>
    <% end %>
  <% elsif policy(Group).new? && current_user.draw %>
    <li><%= link_to 'Create Housing Group', new_draw_group_path(current_user.draw) %></li>
  <% end %>
  <li><%= link_to 'Export Group Leader Emails', new_email_export_path %></li>
  <li><%= link_to 'All Buildings', buildings_path %></li>
</ul>
